body {
    background-color: #353330;
    font-family: "Jersey 20", sans-serif;
  font-optical-sizing: auto;
  font-weight: 00;
  font-style: normal;
  text-align: center;
}

.heading {
    position: fixed;
    font-size: x-large;
    top: 20px;
    left: 522px;
}

/* An effective image gallery allows the user to quickly be able to view all images at once, before selecting which photo to use in more detail. 
A grid-based display was used with this in mind to easily display all 6 images used. With appropriate sizing and padding, it allows all the 
selectable images to be viewed easily and quickly by the user.    */

.img-gallery {
display:grid;
margin-left: 180px ;
margin-right: 100px ;
grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
grid-gap: 30px;
width: 75%;
padding: 100px;
}

/* To encourage the user to click the images to interact with them. I implemented two effective design choices to encourage user feedback, both based 
on when the user hovers over an image. The first was updating the cursor to a pointer, which is very commonly used in websites and web-based programs
to notify the user when an element can be clicked on and interacted with. To further encourage this, each image slightly increases in scale when hovered
over */

.img-gallery img {
    cursor: pointer;
}

.img-gallery img:hover{
    transform: scale(1.15);
}
/* The focus for the style of the expanded image/wrapper was to make sure the user experienced a strong sense of feedback on the click, while also
allowing the user to browse the images of the gallery in more detail. Effective image galleries allow the user to view the images in more detail in
a bigger format. As such the wrapper expands the size of the image to make it the primary focus in the centre of the screen. But I also wanted to make
sure the user was still encouraged to view the other images. As such RGBA was used with the Alpha channel slightly decreased to make sure the user
still feels as though they are on the same webpage, rather than a new one.   */

.imgWrapper {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.imgWrapper img {
    max-width: 500px;
}

.imgWrapper span {
    position: absolute;
    right: 100px;
    top: 13px;
    color: white;
    font-size: 45px;
    cursor: pointer;
}